html, body, #root {
  height: 100%;
  width: 100%;
}

#ninja-se {
  position: relative;
  width: calc(200% + 10px);
  height: calc(200% + 10px);
  z-index: 1;
  background-image: url("/src/ninja-se.png");
  background-size: contain;
  border-radius: 10px;
}

.App {
  text-align: center;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.body {
}

.grid {
  background-color: lightgray;
  display: grid;
  gap: 10px;
  padding: 10px;
  aspect-ratio: 1/1;
  max-height: calc(100% - 2 * 100px);
  border-radius: 16px;
  margin: 100px;
}

.grid-box {
  background-color: white;
  display: block;
  border-radius: 10px;
}

