html, body, #root {
  height: 100%;
  width: 100%;
}

#ninja-se {
  position: relative;
  width: calc(200% + 10px);
  height: calc(200% + 10px);
  z-index: 1;
  background-image: url("/src/ninja-se.png");
  background-size: contain;
  border-radius: 10px;
}

.App {
  text-align: center;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}

.body {
}

.grid {
  background-color: lightgray;
  display: grid;
  gap: 10px;
  padding: 10px;
  aspect-ratio: 1/1;
  width: 55vh;
  border-radius: 16px;
  margin: auto 10vh;
  flex: 1;
}

.grid-box {
  background-color: white;
  display: block;
  border-radius: 10px;
}

.controls {
  margin: 25px 50px;
  height: calc(100% - 50px);
  flex: 1;
}

.controls > div {
  width: 100%;
}

.controls > div:nth-child(2n + 1) { 
  height: 20%;
}

div[class*="button"] {
  background-color: lightgray;
  aspect-ratio: 1/1;
  display: inline-block;
  color: black;
  font-weight: bold;
  margin: 6px;
  border-radius: 16px;  
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

.btn-row {
  display: flex;
  width: calc(100% / 1.41);
  height: 50%;
}


div[class*="button"] > span {
  transform: rotate(-45deg);
}

div[class*="button"]:hover, .btn:hover {
  background-color: lightblue !important;
}


div[class*="button"]:active, .btn:active {
  background-color: lightgreen !important;
}

.moving-div {  
  height: 40%;
  max-width: fit-content;
  transform: rotate(45deg) translateY(5%) translateX(5%);
}

div.btns {
  display: flex;
  margin: 80px 0 0;
}

.btn {
  padding: 8px 16px;
  background-color: lightgray;
  color: black;
  border-radius: 16px;  
  margin: 16px;
  transition: 0.1s;
}

div.btns .rst-btn.btn {
  background-color: lightcoral;
}

p {
  font-size: x-large;
  font-weight: bold;
}

.rmv-btn.btn {
  margin: 20px !important;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  background-color: white;
  border-radius: 24px;
  z-index: 10;
  padding: 30px;
  box-shadow: 6px 6px 6px gray;
}